<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Unica+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://kit.fontawesome.com/20879eec63.js" crossorigin="anonymous"></script>
  <title>To-Do</title>
</head>

<body>
  <nav class="sidebar">
    <a href="#" class="home"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-regular fa-calendar-check"></i></a>
  </nav>
  <main>
    